
<!-- <p class="center-title">Signup</p> -->
<div class="formpic">

	<%= render 'layouts/header' %>
	<div class="signup-box">
		<div class="signuplog-form">
			<% if @user.errors.any? %>
  		<% @user.errors.full_messages.each do |error| %>
    		<p class = "text-danger"><%= error %></p>
  		<% end %>
		<% end %>

		<%= form_for(@user, url: signup_path) do |f|%>

		<p class="center">
  		<%= f.label(:username) %>
  		<%= f.text_field(:username, autofocus: true) %>
		</p>
		<p class="center">
  		<%= f.label(:password) %>
  		<%= f.password_field(:password) %>
		</p>
		<p class="center">
  		<%= f.label(:location) %>
  		<%= f.text_field(:location) %>
		</p>
		<p class="center">
  	<%= f.label(:description) %>
  	<%= f.text_area(:description) %>
		</p>
		<p class="center">
  		<%= f.submit("Sign up", class: "btn-clear") %>
		</p>
		<p class="center">
  		<%= link_to "Already have an account?", login_path %>
  	</p>
		<% end %>
	</div>
</div>
</div>

