<div class="wrapper">
	<div class="jcarousel-wrapper">
		<% for activity in @activity_list %>
		  <div class="jcarousel">
		  <div class="act-item">
		    <ul>
		      <li class= "list-unstyled">
		      <div class="act-img col-md-7">
		      	<% if activity.img_url != nil %>
							<!-- <div class="img"> --><img url('images/couple_canoe.jpg')>
							<!-- <%= activity.img_url %>> --> </div>
					</div>
						<% end %>
		      </div>

		      <div class="act-brochure col-md-4">
		      	<p class="act-title">
						<% if activity.title != nil %>
							<%= activity.title %>
						<% end %>
						</p>
						<p class ="act-location">
						<% if activity.location != nil %>
							<%= activity.location %>
						<% end %>
						</p>
						<p class="act-desc">
						<% if activity.description != nil %>
							<%= activity.description %>
						<% end %>
						</p>
						<p class="act-time">
						<% if activity.time_min != nil and activity.time_max != nil %>
						<div class="time">Duration: <%= activity.time_min %> to <%= activity.time_max %> minutes </div>
					<% else %>
						<div class="time">Time: <%= activity_list.time_min %></div>
					<% end %>
					</p>

					</div>
					</li>

				</ul>
			</div>
			</div>

		<!-- Prev/next controls -->
		<a href="#" class="jcarousel-control-prev">&lsaquo; Prev</a>
		<a href="#" class="jcarousel-control-next">Next &rsaquo;</a>

		<!-- Pagination -->
		<p class="jcarousel-pagination">
		    <!-- Pagination items will be generated in here -->
		</p>
		<% end %>


	</div>	
</div>
