<div class="wrapper">
	<div class="jcarousel-wrapper">
		<div class="jcarousel">
		    <ul>
		        <% for activity in @activity_list %>
		        	
		        	<li>
					<% if activity.title != nil %>
						<div class="title"><%= activity.title %></div>
					<% end %>
					<% if activity.description != nil %>
						<div class="description"><%= activity.description %></div>
					<% end %>
					<% if activity.location != nil %>
						<div class="location"><%= activity.location %></div>
					<% end %>

					<% if activity.time_min != nil and activity.time_max != nil %>
						<div class="time">Time Span: <%= activity.time_min %> minutes to <%= activity.time_max %> minutes. </div>
					<% else %>
						<div class="time">Time: <%= activity_list.time_min %> minutes</div>
					<% end %>

					<a class="twitter-share-button" href="https://twitter.com/share?url=./view/<%= activity.id %>">Tweet</a>
					<div class="fb-share-button" data-href="./view/<%= activity.id %>" data-layout="button_count"></div>

					</li>
		        <% end %>
		    </ul>
		</div>

		<!-- Prev/next controls -->
		<a href="#" class="jcarousel-control-prev">&lsaquo; Prev</a>
		<a href="#" class="jcarousel-control-next">Next &rsaquo;</a>

		<!-- Pagination -->
		<p class="jcarousel-pagination">
		    <!-- Pagination items will be generated in here -->
		</p>
	</div>	
</div>
