<div class="wrapper">
	<div class="jcarousel-wrapper">
		<div class="jcarousel">
		    <ul>
		      <% for activity in @activity_list %>
		        	
		      <li>
<!-- 		       <% if activity.img_url != nil %>
						<div class="act-img"><%= activity.img_url %></div>
					<% end %> -->
					<% if activity.title != nil %>
					<div class="act-desc col-3">
						<div class="title"><%= activity.title %></div>
					<% end %>

					<% if activity.location != nil %>
						<div class="location"><%= activity.location %></div>
					<% end %>
					<br>

					<% if activity.description != nil %>
						<div class="description"><%= activity.description %></div>
					<% end %>
					<br>

					<% if activity.time_min != nil and activity.time_max != nil %>
						<div class="time">Estimated Time: <%= activity.time_min %> to <%= activity.time_max %> minutes </div>
					<% else %>
						<div class="time">Time: <%= activity_list.time_min %></div>
					<% end %>
					<br>

					<div class="social-buttons">
					<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
					
				<div class="favorite-button"> Fave
					<% if @current_user %>
  				<% link_to "favorite",   favorite_activity_path(@activity, type: "favorite"), method: :put %>
  				<% link_to "unfavorite", favorite_activity_path(@activity, type: "unfavorite"), method: :put %>
					<% end %>

					</div>
					</div>

					</div>

					</li>
		        <% end %>
		    </ul>
		</div>

		<!-- Prev/next controls -->
		<a href="#" class="jcarousel-control-prev">&lsaquo; </a>
		<a href="#" class="jcarousel-control-next"> &rsaquo;</a>

		<!-- Pagination -->
		<p class="jcarousel-pagination">
		    <!-- Pagination items will be generated in here -->
		</p>
	</div>	
</div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>