<!DOCTYPE html>
<html>
<head>
  <title>ActivityApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>UPLOADCARE_PUBLIC_KEY = "demopublickey";</script>
  <script src="https://ucarecdn.com/widget/1.0.1/uploadcare/uploadcare-1.0.1.min.js"></script>
  <%= uploadcare_settings %>
</head>
<body>

<%= yield %>

</body>
</html>
